In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
## upload CSV

In [3]:
df = pd.read_csv('AgeDataset.csv')##
df['Occupation']=df['Occupation'].str.extract(r'^([^;]+)')
df['Occupation'].value_counts()

Artist                281512
Politician            195390
Athlete               110943
Researcher             90709
Military personnel     52911
                       ...
Duce                       1
Breakdancer                1
Fantasy author             1
Document                   1
Nephrologist               1
Name: Occupation, Length: 2468, dtype: int64

In [4]:
df.head()
## check headers and nans should the exist

,Id,Name,Short description,Gender,Country,Occupation,Birth year,Death year,Manner of death,Age of death
0,Q23,George Washington,1st president of the United States (1732–1799),Male,United States of America; Kingdom of Great Bri...,Politician,1732,1799.0,natural causes,67.0
1,Q42,Douglas Adams,English writer and humorist,Male,United Kingdom,Artist,1952,2001.0,natural causes,49.0
2,Q91,Abraham Lincoln,16th president of the United States (1809-1865),Male,United States of America,Politician,1809,1865.0,homicide,56.0
3,Q254,Wolfgang Amadeus Mozart,Austrian composer of the Classical period,Male,Archduchy of Austria; Archbishopric of Salzburg,Artist,1756,1791.0,NaN,35.0
4,Q255,Ludwig van Beethoven,German classical and romantic composer,Male,Holy Roman Empire; Austrian Empire,Artist,1770,1827.0,NaN,57.0

In [5]:
srt1="English writer and humorist"

In [6]:
srt1.split("and")[1]

' humorist'

In [7]:
df.isnull().sum()/len(df)

Id                   0.000000e+00
Name                 0.000000e+00
Short description    5.551881e-02
Gender               1.092764e-01
Country              2.743308e-01
Occupation           1.691844e-01
Birth year           0.000000e+00
Death year           8.176555e-07
Manner of death      9.561712e-01
Age of death         8.176555e-07
dtype: float64

In [8]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
## replace space with _ and change to lowercase

In [9]:
df.dtypes

id                    object
name                  object
short_description     object
gender                object
country               object
occupation            object
birth_year             int64
death_year           float64
manner_of_death       object
age_of_death         float64
dtype: object

In [10]:
df1=df.loc[(df['age_of_death'] >= 18) & (df['age_of_death'] <= 60)]

In [11]:
df1=df1.loc[df['birth_year'] >= 1930]

In [12]:
df1.isnull().sum()/len(df)

id                   0.000000
name                 0.000000
short_description    0.001858
gender               0.005269
country              0.007252
occupation           0.005358
birth_year           0.000000
death_year           0.000000
manner_of_death      0.035749
age_of_death         0.000000
dtype: float64

In [13]:
df1["short_description"].value_counts(dropna=False).head(100)

NaN                             2272
American musician                595
American politician              267
Ukrainian military personnel     249
American baseball player         247
                                ...
American composer                 42
Canadian actor                    41
Hungarian actor                   40
Russian politician                40
actress                           40
Name: short_description, Length: 100, dtype: int64

In [14]:
df1 = df1.dropna(subset=['short_description'])

In [15]:
counts = df1['occupation'].value_counts()

res = df1[~df1['occupation'].isin(counts[counts < 100].index)]
res

,id,name,short_description,gender,country,occupation,birth_year,death_year,manner_of_death,age_of_death
1,Q42,Douglas Adams,English writer and humorist,Male,United Kingdom,Artist,1952,2001.0,natural causes,49.0
10,Q303,Elvis Presley,American singer and actor (1935–1977),Male,United States of America,Artist,1935,1977.0,natural causes,42.0
20,Q407,Linda Lovelace,"American pornographic actress, later anti-porn...",Female,United States of America,Artist,1949,2002.0,accident,53.0
21,Q409,Bob Marley,"Jamaican singer, songwriter and musician",Male,Jamaica,Artist,1945,1981.0,natural causes,36.0
33,Q512,Vladimir Vysotsky,"Soviet singer, songwriter, poet and actor",Male,Soviet Union,Artist,1938,1980.0,natural causes,42.0
...,...,...,...,...,...,...,...,...,...,...
1222980,Q77039891,Michael Philip Del Rio,actor (1956-2009),Male,NaN,Artist,1956,2009.0,NaN,53.0
1222982,Q77049945,Pedro Yauri,journalist uit Peru (1959-1992),Male,Peru,Journalist,1959,1992.0,NaN,33.0
1222992,Q77115074,Wim de Vreng,Dutch swimmer,Male,Kingdom of the Netherlands,Athlete,1930,1980.0,NaN,50.0
1222995,Q77188843,Hilary Stagg,American harpist,NaN,United States of America,NaN,1957,1999.0,NaN,42.0
1223005,Q77249504,Ron Thorsen,xugador de baloncestu canadianu (1948–2004),NaN,Canada; United States of America,Athlete,1948,2004.0,NaN,56.0

In [16]:
res['occupation'].value_counts()

Artist                   17541
Athlete                  11204
Politician                4258
Researcher                2572
Journalist                1559
Military personnel        1543
Businessperson             707
Teacher                    435
Engineer                   358
Religious figure           335
Lawyer                     222
Architect                  219
Motorcycle racer           214
Physician                  186
Serial killer              183
Police officer             177
Guitarist                  168
Professional wrestler      138
Pianist                    121
Racing driver              121
Novelist                   119
Model                      115
Rower                      113
Drummer                    112
Amateur wrestler           111
Judge                      111
Philosopher                107
Television presenter       106
Name: occupation, dtype: int64

In [17]:
res['country']=df['country'].str.extract(r'^([^;]+)')

res['manner_of_death']=df['manner_of_death'].str.extract(r'^([^;]+)')

res['short_description']=df['short_description'].str.extract(r'^([^,]+)')

C:\Users\adyto\AppData\Local\Temp\ipykernel_11480\2684132647.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res['country']=df['country'].str.extract(r'^([^;]+)')
C:\Users\adyto\AppData\Local\Temp\ipykernel_11480\2684132647.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res['manner_of_death']=df['manner_of_death'].str.extract(r'^([^;]+)')
C:\Users\adyto\AppData\Local\Temp\ipykernel_11480\2684132647.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res['short_description']=df['short_description'].str.extract(r'^([^,]+)')

In [18]:
df.short_description = df.short_description.fillna('Unknown')

In [19]:
res = df1[~df1['short_description'].isin(counts[counts < 500].index)]


##newjob=[]
##for job in res['short_description']:
##    newjob.append(job.split(" ")[1:])

##print(newjob)

In [20]:
res['short_description']=res['short_description'].str.split(' ').str[1]
i=0

res['short_description']

C:\Users\adyto\AppData\Local\Temp\ipykernel_11480\2715665939.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res['short_description']=res['short_description'].str.split(' ').str[1]

1                writer
10               singer
20         pornographic
21              singer,
33              singer,
               ...
1222980     (1956-2009)
1222982             uit
1222992         swimmer
1222995         harpist
1223005              de
Name: short_description, Length: 53213, dtype: object

In [23]:
##def createocc(row):
    ##if row['occupation']=="Artist":
      ##  return row['short_description']
    ##else:
      ##  return row['occupation']

In [24]:
##res["newjobdes"]=res.apply(createocc, axis=1)

C:\Users\adyto\AppData\Local\Temp\ipykernel_11480\1124268382.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  res["newjobdes"]=res.apply(createocc, axis=1)

In [26]:
## res["newjobdes"].value_counts()

Athlete        11203
Politician      4258
Researcher      2572
actor           2110
Journalist      1561
               ...
religious          1
soul/funk          1
(1934-1978)        1
songwrter          1
Condottiero        1
Name: newjobdes, Length: 2283, dtype: int64

In [29]:
len(res[res["newjobdes"].isin(["musician","singer"])])

AttributeError: 'Series' object has no attribute 'lower'

In [30]:
counts = res['country'].value_counts()
res = res[~res['country'].isin(counts[counts<100].index)]

In [ ]:
res['country'].value_counts(dropna=False)

In [ ]:
res = res[~res['gender'].isin(counts[counts<100].index)]

In [ ]:
res['gender'].value_counts(dropna=False)

In [ ]:
res[res['gender'].isna()]
res.gender = res.gender.fillna('Unknown')
res=res.dropna(subset=['gender', 'occupation'])

In [ ]:
res.isnull().sum()

In [ ]:
res.manner_of_death = res.manner_of_death.fillna('Unknown')
res['country']=df['country'].str.extract(r'^([^;]+)')

res['manner_of_death']=df['manner_of_death'].str.extract(r'^([^;]+)')

res['short_description']=df['short_description'].str.extract(r'^([^,]+)')
## as manner_of_death unknown ass there are quite a few and it will delete quite a few informtion as the dataset is slimmed down already it is better to set as unknown

In [ ]:

res.manner_of_death = res.manner_of_death.fillna('Unknown')
res['manner_of_death'].value_counts(dropna=False)

In [ ]:
res.country = res.country.fillna('Unknown')
res['country'].value_counts(dropna=False)
## as country unknown ass there are quite a few and it will delete quite a few informtion as the dataset is slimmed down already it is better to set as unknown

In [ ]:
res.isnull().sum()
## Data is shown as clean ,

In [ ]:
res.describe()
## trying to analyze some informtaion from the mean and quarterly data

In [ ]:
correlations_matrix = res.corr()
sns.heatmap(correlations_matrix, annot=True)
plt.show()

## Cannot see a strong correlations with the num columns , 
## will try to convert some of the categorical in order to further investigate corr

In [ ]:
res1=np.where(res['occupation']=='artist')
res1

In [ ]:
res.to_csv("X.csv")