In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('X.csv')

In [3]:
df.head()

,Unnamed: 0,id,name,short_description,gender,country,occupation,birth_year,death_year,manner_of_death,age_of_death,newjobdes,agerange
0,1,Q42,Douglas Adams,English writer and humorist,Male,United Kingdom,Artist,1952,2001.0,natural causes,49.0,writer,40-49
1,10,Q303,Elvis Presley,American singer and actor (1935–1977),Male,United States of America,Artist,1935,1977.0,natural causes,42.0,singer,40-49
2,20,Q407,Linda Lovelace,American pornographic actress,Female,United States of America,Artist,1949,2002.0,accident,53.0,pornographic,50-59
3,33,Q512,Vladimir Vysotsky,Soviet singer,Male,Soviet Union,Artist,1938,1980.0,natural causes,42.0,"singer,",40-49
4,65,Q853,Andrei Tarkovsky,Soviet and Russian filmmaker,Male,Soviet Union,Artist,1932,1986.0,natural causes,54.0,and,50-59

In [4]:
allother=df.loc[df['occupation'] != "Artist"]

In [5]:
allother.columns = allother.columns.str.lower().str.replace(' ', '_')

In [6]:
allother.manner_of_death = allother.manner_of_death.fillna('Unknown')
allother.isnull().sum()

C:\Users\adyto\AppData\Local\Temp\ipykernel_1812\4184982682.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  allother.manner_of_death = allother.manner_of_death.fillna('Unknown')

unnamed:_0           0
id                   0
name                 0
short_description    0
gender               0
country              0
occupation           0
birth_year           0
death_year           0
manner_of_death      0
age_of_death         0
newjobdes            0
agerange             0
dtype: int64

In [11]:
import scipy.stats

confidence_level = 0.95

degrees_freedom = len(allother["age_of_death"]) - 1  # or, for large values of sample size, just use that
sample_mean = np.mean(allother["age_of_death"])
# note that we use the standard error of the sample 
# as an estimate of the standard error of the population (which is used in the theoretical formula)
sample_standard_error = scipy.stats.sem(allother["age_of_death"]) # sem = standard error of the mean = std(patients)/sqrt(samplesize)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

##The null hypothesis (H0): the age_of_death of all others is lower or equals to all artists  , in this case we took the mean of 47.49 of the artists as a limit
##The alternative hypothesis: (H1): the the age_of_death is higher than artists

In [8]:
print( 'confidence interval is ', confidence_interval, '.' )
## we can see that the mean is somewhere between 46.05 an 46.3 , at this point we cannot reject H0 at this point

confidence interval is  (46.05841421832248, 46.325891401577024) .

In [15]:
from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(allother["age_of_death"], 47.49)

print('stat is  ', stat)

print('pvalue for the one-tailed test is ', pval/2)

##pvalue is lower than 0.05 and stat is positive which means that the value of 
## age_of_death is probably lower than 47.49 but now equal to it not rejecting H0

stat is   -19.02101291244924
pvalue for the one-tailed test is  1.8272620889586285e-80